@model IEnumerable<ElMercaditoWeb.Models.Productos>

@{
    ViewData["Title"] = "Index";
}

    <div class="container">

        <div class="dropdown text-center">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorias
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" asp-controller="Productos" asp-action="GetFrutas">Frutas</a>
                <a class="dropdown-item" asp-controller="Productos" asp-action="GetCarnes">Carnes</a>
                <a class="dropdown-item" asp-controller="Productos" asp-action="GetEmbutidos">Embutidos</a>
            </div>
        </div>

                       
        <br>
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-lg-3 col-md-6 col-sm-8 mt-2">
                    <div class="card text-center shadow">
                        <h5> @Html.DisplayFor(modelItem => item.Nombre)</h5>
                        <img class="card-img-top" title="Titulo producto" alt="Titulo" src="@Html.DisplayFor(modelItem => item.Imagen)" height="250" width="200" alt="">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Precio)</h5>
                            <p class="card-text"></p>
                            <a class="btn btn-outline-dark" type="submit" name="btnAccion"><i class="fas fa-shopping-basket"></i>Agregar</a>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>