@model IEnumerable<ElMercaditoWeb.Models.Productos>

@{
    ViewData["Title"] = "Index";
}

    <div class="container">

        <div class="jumbotron bg-transparent">
            <h1 class="display-4">Nuestros Productos!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <div class="dropdown">
                <a class="btn btn-secondary btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorias
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" asp-controller="Productos" asp-action="ClientesProductos">Principal</a>
                    <a class="dropdown-item" asp-controller="Productos" asp-action="GetFrutas">Frutas</a>
                    <a class="dropdown-item" asp-controller="Productos" asp-action="GetCarnes">Carnes</a>
                    <a class="dropdown-item" asp-controller="Productos" asp-action="GetEmbutidos">Embutidos</a>
                </div>
            </div>
        </div>





        <div class="row">

           


            @foreach (var item in Model)
            {

                <div class="col-lg-3 col-md-6 col-sm-8 mt-2">
                    <div class="card text-center shadow">

                        <img class="card-img-top" title="Titulo producto" alt="Titulo" src="@Html.DisplayFor(modelItem => item.Imagen)" height="250" width="200" alt="">
                        <div class="card-body">
                            <h5 class=""> @Html.DisplayFor(modelItem => item.Nombre)</h5>
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Precio)</h5>
                            <p class="card-text"></p>
                            <a  type="submit" name="btnAccion" class="btn btn-outline-dark" ><i class="fas fa-shopping-basket"></i>Agregar</a>
                        </div>
                    </div>
                </div>
            }

        </div>
        

    </div>