<div class="container">
    <div class="row">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="card text-center p-5  mt-5 ml-auto mr-auto">
            <div class="card-header">
                <b>Pago <i class="fab fa-paypal"></i> </b>
            </div>
            <div class="card-body">
                <h5 class="card-title">Articulos del carrito</h5>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">cantidad</th>
                            <th scope="col">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>mango</td>
                            <td>4</td>
                            <td>300$</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>mango</td>
                            <td>4</td>
                            <td>300$</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>mango</td>
                            <td>4</td>
                            <td>300$</td>
                        </tr>
                        <input value="100" id="total" type="hidden" />
                    </tbody>
                    
                </table>
                <div>Total: 100</div>

                <div id="paypal-button-container"></div>

                <!-- Include the PayPal JavaScript SDK -->
                <script src="https://www.paypal.com/sdk/js?client-id=ATLmCSkbzC8bA7ijaYsDFQyBW_ZCopJOxLDynvJj3gvtHHuWWLim2gcdADai5xNYViUdktKoMrQ9UJtj&currency=USD"></script>

                <script>


                    fetch("https://localhost:44314/Productos/Getdata")
                       .then(response => response.json())
                        .then(data => alert(data))

                    await response.text();
                    

                    
                   

                    var total = document.querySelector('#total').value;
                    // Render the PayPal button into #paypal-button-container
                    paypal.Buttons({

                        // Set up the transaction
                        createOrder: function (data, actions) {
                            return actions.order.create({
                                purchase_units: [{
                                    amount: {
                                        value: data[1].precio
                                    }
                                }]
                            });
                        },

                        // Finalize the transaction
                        onApprove: function (data, actions) {
                            return actions.order.capture().then(function (details) {
                                // Show a success message to the buyer
                                alert('Transaction completed by ' + details.payer.name.given_name + '!');
                            });
                        }


                    }).render('#paypal-button-container');
                </script>
                <p id="botonP"></p>
                <p class="card-text">Pago via paypal su producto se estara entregando pronto</p>
                <a href="#" class="btn btn-outline-success" >Realizar pago <i class="far fa-money-bill-alt"></i></a>

            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
</div>

    
                