<div class="container">
    <div class="row">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="card text-center p-5  mt-5 ml-auto mr-auto">
            <div class="card-header">
                <b>Pago <i class="fab fa-paypal"></i> </b>
            </div>
            <div class="card-body">
                <h5 class="card-title">Articulos del carrito</h5>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">cantidad</th>
                            <th scope="col">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>mango</td>
                            <td>4</td>
                            <td>300$</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>mango</td>
                            <td>4</td>
                            <td>300$</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>mango</td>
                            <td>4</td>
                            <td>300$</td>
                        </tr>
                    </tbody>
                </table>

                <p class="card-text">Pago via paypal su producto se estara entregando pronto</p>
                <a href="#" class="btn btn-outline-success">Realizar pago <i class="far fa-money-bill-alt"></i></a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
</div>