@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElMercaditoWeb</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/f68f55df4f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3  shadow rounded-bottom">

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Logo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link active">Home</a>
                    </li>


                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a asp-controller="Productos" asp-action="ClientesProductos" class="nav-link">Articulos</a>
                        </li>


                    }

                    @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
                    {
                        <li class="nav-item">
                            <a asp-controller="Administrador" asp-action="Principal" class="nav-link">Administrar</a>
                        </li>

                    }
                    else
                    {



                    }

                    <partial name="_loginPartial" />

                    <li>
                        <a asp-controller="Home" asp-action="pago" class="nav-link active"><i class="fas fa-shopping-cart"></i></a>
                    </li>

                </ul>


            </div>

        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()

    </main>


    <footer class="border-top footer text-muted">

        <div class="container">
            &copy; 2020 - ElMercaditoWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
