@model ElMercaditoWeb.Models.Slider

@{
    ViewData["Title"] = "Edit";
}

    <div class="container mt-4 card">
        <hr />
        <h1>Editar</h1>

        <h4>Slider</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Img1" class="control-label"></label>
                        <input asp-for="Img1" class="form-control" />
                        <span asp-validation-for="Img1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Img2" class="control-label"></label>
                        <input asp-for="Img2" class="form-control" />
                        <span asp-validation-for="Img2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Img3" class="control-label"></label>
                        <input asp-for="Img3" class="form-control" />
                        <span asp-validation-for="Img3" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index" class="btn btn-primary">Volver a la lista</a>
        </div>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
