<div class="container">
    <div class="row">

        <div class="card col-lg-4 col-sm-12 mt-auto">
            <div class="card-body text-center">
                <a asp-controller="Administrador" asp-action="ListUser"> <img src="https://image.flaticon.com/icons/svg/615/615075.svg" height="75" alt="" class=""></a>
                <h6 class="card-subtitle mb-2 mt-2"><b>Listado de Usuarios</b></h6>
            </div>
        </div>


        <div class="card col-lg-4 col-sm-12 mt-auto">
            <div class="card-body text-center">
                <a asp-controller="Administrador" asp-action="CreateRole"><img src="https://image.flaticon.com/icons/svg/1250/1250615.svg" height="75" alt="" class=""></a>
                <h6 class="card-subtitle mb-2 mt-2"><b>Crear nuevo rol</b></h6>
            </div>
        </div>

        <div class="card col-lg-4 col-sm-12 mt-auto">
            <div class="card-body text-center">
                <a asp-controller="Administrador" asp-action="ListRoles"> <img src="https://www.flaticon.es/premium-icon/icons/svg/2557/2557323.svg" height="75" alt="" class=""></a>
                <h6 class="card-subtitle mb-2 mt-2"><b>Manejo de roles</b></h6>
            </div>
        </div>

        <div class="card col-lg-4 col-sm-12 mt-auto">
            <div class="card-body text-center">
                <a asp-controller="Administrador" asp-action="MapaPedidos"> <img src="https://image.flaticon.com/icons/svg/2893/2893216.svg" height="75" alt="" class=""></a>
                <h6 class="card-subtitle mb-2 mt-2"><b>Mapa de pedidos</b></h6>
            </div>
        </div>

        <div class="card col-lg-4 col-sm-12 mt-auto">
            <div class="card-body text-center">
                <a asp-controller="Productos" asp-action="Index"> <img src="https://image.flaticon.com/icons/svg/2921/2921914.svg" height="75" alt="" class=""></a>
                <h6 class="card-subtitle mb-2 mt-2"><b>Administracion Productos</b></h6>
            </div>
        </div>


    </div>
</div>